               :root {
                  --letra: #ffffff;
                  --corPrinc: #73c1ba;
                  --corCaixa: #196962;
                  --fundoCaixa: #c8faf6;
              }
              
              main {
                  display: flex;
                  width: 100vw;
                  height: 100vh;
                  justify-content: center;
                  align-items: center;
              }
              
              .container {
                  display: flex;
                  flex-direction: column;
                  background: var(--corPrinc);
                  width: 400px;
                  height: 600px;
                  align-items: center;
                  justify-content: space-evenly;
                  border-radius: 20px;
                  box-shadow: 0 0 10px var(--corCaixa);
              }
              
              .container p {
                  color: var(--corCaixa);
              }
              
              .title {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 50px;
                  font: bold 2.1rem serif;
                  color: var(--corCaixa);
                  border-bottom: solid 5px var(--letra);
                  margin-bottom: 20px;
                  text-transform: uppercase;
              }
              
              .input {
                  display: flex;
                  width: 300px;
                  height: 50px;
                  justify-content: space-between;
                  align-items: center;
              }
              
              .input input {
                  width: 200px;
                  height: 50px;
                  border-radius: 5px;
                  border: none;
                  outline: 0;
                  font: bold 1.0rem serif;
                  text-align: center;
                  background: var(--fundoCaixa);
                  color: var(--corCaixa);
              }
              
              .input label {
                  font: bold 1.5rem serif;
                  color: var(--letra);
              }
              
              button {
                  width: 300px;
                  height: 40px;
                  font: bold 1.2rem serif;
                  background: var(--corCaixa);
                  color: var(--letra);
                  outline: none;
                  border-radius: 5px;
                  cursor: pointer;
                  text-transform: uppercase;
              }
              
              .result {
                  display: flex;
                  margin-top: 10px;
                  align-items: center;
                  width: 300px;
                  height: 150px;
                  border-radius: 5px;
                  font: italic 1.0rem serif;
                  box-shadow: 0px 0px 10px black;
                  background: var(--fundoCaixa);
                  color: var(--corCaixa);
                  padding: 20px;
                  box-sizing: border-box;
                  user-select: none;
                  background: var(--fundoCaixa);
              }
              
              @media screen and (max-width: 500px) {
                  main {
                      display: flex;
                      width: 50vw;
                      height: 50vh;
                      justify-content: center;
                      align-items: center;
                  }
                  .result {
                      width: 150px;
                      height: 75px;
                  }
              }